{{define "base"}}<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
<link href="./styles.css" rel="stylesheet" />
{{template "head" .}}
</head>
<body>
{{template "body" .}}
</body>
</html>{{end}}
