{{define "head"}}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#000000" />
<meta property="og:description" name="Description" content="{{ .Description }}" />
<meta name="Author" content="IRFLASH" />
<meta name="robots" content="index,follow" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ .Description }}" />
<meta name="twitter:creator" content="Equipe IR Flash" />
<meta name="twitter:image" content="{{ .Image }}" />
<meta property="og:updated_time" content="1664675968" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.irflash.com.br" />
<meta
  property="og:image"
  itemprop="image"
  content="{{ .Image }}"
/>
<meta property="og:site_name" content="{{ .Title }}" />
<meta property="article:author" content="Equipe IR FLash" />
<meta
  property="article:publisher"
  content="https://www.irflash.com.br"
/>
<meta
  name="facebook-domain-verification"
  content="owxpp1vd8hbs8s578iwhbh7709yprf"
/>
<link
  rel="shortcut icon"
  href="https://irflash.com.br/assets/favicon.ico"
/>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
<link href="./styles.css" rel="stylesheet" />
{{end}}
